.person:hover{
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
}
.card:hover {
    background-color: #d1e7dd71;
}
.card-text p {
    margin-bottom: 3px;
}
.field-style {
    font-weight: 500;
}
.iconStyle {
    color: rgb(203, 248, 38);
    margin-right: 8px;
}
